node_modules
.idea
tmp
admin/i18n/*/flat.txt
admin/i18n/flat.txt
iob_npm.done
*.tgz
build/
# Vendor MIBs, only needed to run `npm run generate-oids`. The generated table is checked in.
MIBs/

# Widget sources are built into admin/dm-widgets
src-devices/node_modules
src-devices/build
